<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mg-5 text-green-500 font-medium rounded-lg inline-block
      "
      id="notice"
    >
      <%= notice %>
    </p>
  <% end %>

  <% if alert.present? %>
    <p
      class="
        py-2 px-3 bg-red-50 mg-5 text-red-500 font-medium rounded-lg inline-block
      "
      id="notice"
    >
      <%= alert %>
    </p>
  <% end %>

  <%= form_with url: login_path, local: true, method: :post, data: { turbo: false } do |form| %>
    <h2 class="font-bold text-3xl">
      Please Log In</h2>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input-field" %>
    </div>

    <div class="my-5">
      <%= label_tag :password %>
      <%= form.password_field :password, class: "input-field" %>
    </div>

    <div class="actions">
      <%= form.submit "Login",
                  class:
                    "rounded-lg py-3 px-5 bg-green-600 text-black inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
