<%= form_with(model: order, class: "contents", data: { turbo: false } ) do |form| %>
  <% if order.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3"
    >
      <h2><%= pluralize(order.errors.count, "error") %>
        prohibited this order from being saved:</h2>

      <ul class="list-disc ml-6">
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_area :address, rows: 4, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, class: "input-field" %>
  </div>

  <div data-controller="payment">
    <div class="my-5">
      <%= form.label :pay_type %>
      <%= form.select :pay_type,
                  PayType.pluck(:name),
                  {
                    prompt: "Select a payment method",
                    selected: form.object.pay_type&.name,
                  },
                  "data-payment-target" => "selection",
                  "data-action" => "payment#showAdditionalFields",
                  :class => "input-field" %>
    </div>

    <% if !form.object %>
      <%= render partial: "check", locals: { form: form } %>
      <%= render partial: "cc", locals: { form: form } %>
      <%= render partial: "po", locals: { form: form } %>
    <% end %>
  </div>

  <% if form.object %>
    <div class="my-5">
      <%= form.label :ship_date %>
      <%= form.date_select :ship_date, class: "input-field" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit (
                  if form.object
                    "Ship Order"
                  else
                    "Create Order"
                  end
                ),
                class:
                  "rounded-lg py-3 px-5 bg-green-200 text-black inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
