<div class="w-full">
  <%= render "notice" %>

  <div class="flex justify-between mb-6 pb-2 border-b-2">
    <h1 class="font-bold text-xl">
      <%= t('.title_html') %>
    </h1>

    <%= render partial: "store_visit_count",
    locals: {
      store_visit_count: @store_visit_count,
    } %>
  </div>

  <!-- <div class="bg-red-200 my-4"> -->
    <%#= form_with url: store_index_path, method: :post do |form| %>
      <%#= form.search_field :title_search,
                        oninput: "this.form.requestSubmit()",
                        style: "width: 100%;" %>
    <%# end %>
  <!-- </div> -->

  <%= turbo_stream_from "products" %>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: "product", object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
